<!DOCTYPE html>
<html lang="pt-PT">
<!-- ================================================================================== -->
<!-- Introdução às Tecnologias Web (ITW) - LTI - Departamento de Informática - FCUL.    -->
<!--                               Ano letivo: 2021/2022                                -->
<!--                    Site realizado pelo Grupo 40 do turno PL23:                     -->
<!--    Beatriz Pereira nº57579 | Carlos Martins nº57574 | Gonçalo Domingues nº51751    -->
<!-- ================================================================================== -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/main.css">
    <link rel="stylesheet" href="../estilos/perfil.css">
    <link rel="icon" type="image/png" href="../imagens/mine_logo.png" />
    <title>MineSweeper 1.0 - Perfil</title>
</head>

<body id="perfil">
    <section class="showcase">
        <header>
            <h2 class="logo">
                <a href="./index.html"><img src="../imagens/MINESWEEPER.png" alt="logotipo MineSweeper" height="20"></a>
            </h2>
            <div class="toggle"></div>
        </header>
        <video src="../audio_e_video/videoplayback-online-video-cuttercom_78igNW2U.mp4" muted loop autoplay>Your browser does not support the video element.</video>
        <div class="container">
            <div class="text">
                <h4 class="titulo">Perfil</h4>
                <div class="info">
                    <div class="icone" id="icone-genero"></div><img class="gif" src="../imagens/avatar.gif" alt="avatar perfil" height="100">
                    <div id="Info"></div>
                </div>
            </div>
           <div id="registoTable"  style="display:flex;align-items:center">
            <div class="tabela" id="tabela">
               
            </div>
           </div>
        
        </div>
        <footer>
            <ul>
                <li><a href="./regras.html">Regras</a></li>
                <li><a href="./sobre.html#historia">Sobre o jogo</a></li>
                <li><a href="./sobre.html#alunos">Sobre nós</a></li>
            </ul>
        </footer>
    </section>
    <nav>
        <div class="login-icon" id="login-icon"></div>
        <ul>
            <li><a id="homepage" href="./index.html">Home</a></li>
            <li><a id="perfilpage">Perfil</a></li>
            <li><a href="./regras.html">Regras</a></li>
            <li><a href="./sobre.html">Sobre</a></li>
        </ul>
        <div class="playButn">
            <a id="playpage">Play</a>
        </div>
    </nav>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/perfil.js"></script>
</body>

</html>