<!DOCTYPE html>
<html lang="pt-PT">
<!-- ================================================================================== -->
<!-- Introdução às Tecnologias Web (ITW) - LTI - Departamento de Informática - FCUL.    -->
<!--                               Ano letivo: 2021/2022                                -->
<!--                    Site realizado pelo Grupo 40 do turno PL23:                     -->
<!--    Beatriz Pereira nº57579 | Carlos Martins nº57574 | Gonçalo Domingues nº51751    -->
<!-- ================================================================================== -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/main.css">
    <link rel="stylesheet" href="../estilos/sobre.css">
    <link rel="icon" type="image/png" href="../imagens/mine_logo.png" />
    <title>MineSweeper 1.0 - Sobre</title>
</head>

<body>
    <section class="showcase">
        <header>
            <h2 class="logo">
                <a href="./index.html"><img src="../imagens/MINESWEEPER.png" alt="logotipo MineSweeper" height="20"></a>
            </h2>
            <div class="toggle"></div>
        </header>
        <video src="../audio_e_video/videoplayback-online-video-cuttercom_78igNW2U.mp4" muted loop autoplay>Your browser does not support the video element.</video>
        <div class="container historia" id="historia">
            <h1>A história por detrás do jogo</h1>
            <p>
                &emsp;&emsp;Durante a Primeira Guerra Mundial, as traineiras foram modificadas para rebocar uma draga mecânica e assim surgiram os primeiros <i>minesweepers</i>. Um <i><a href="https://en.wikipedia.org/wiki/Minesweeper" target="_blank">minesweeper</a></i>                é um navio que serve para detetar e desativar minas navais mantendo as rotas navegáveis e desobstruídas.<br> &emsp;&emsp;No início da Segunda Guerra Mundial, a forte utilização de minas no conflito naval levou muitas marinhas, incluindo
                a Marinha Nacional Francesa, a criar diversos navios especializados para as detetar e combater com maior facilidade.<br> &emsp; &emsp;Na atualidade, a maioria dos <a href="https://pt.wikipedia.org/wiki/Navio_de_guerra_de_minas" target="_blank">navios militares</a>                (lança, caça e draga-minas) desempenham todas as funções antigamente atribuídas a navios especializados. Estes acontecimentos foram utilizados como fonte de inspiração para vários jogos, originalmente criados na década de 60 e permanecem
                atualmente em uso por muitas plataformas computacionais.<br> &emsp;&emsp;Desenvolvido por Curt Johnson e Robert Donner em 1989, o <i>Minesweeper</i> é um jogo de computador que requer um pensamento lógico e foi desenhado para um ou mais
                jogadores. O segredo que tornou um simples jogo tão viciante foi programá-lo de modo a que seja impossível perder na primeira jogada, evitando que o jogador fique frustrado no primeiro momento e pare de jogar.<br> &emsp; &emsp;O jogo foi
                um verdadeiro sucesso a nível comercial sendo que, em 1992, cerca de meio milhão de "packs" tinham sido vendidos. Veja <a href="https://en.wikipedia.org/wiki/Minesweeper_(video_game)" target="_blank">mais informações</a> sobre jogos de
                <i>Minesweeper</i>.
            </p>
            <h1 id="sabias">Sabias que...</h1>
            <p>
                &emsp;&emsp;Bill Gates, fundador da Microsoft, viu-se obrigado a desinstalar este jogo por estar a perder demasiadas horas do seu dia? Saiba mais <a href="https://observador.pt/2018/02/16/a-historia-de-minesweeper-o-jogo-que-fez-bill-gates-questionar-a-sua-dignidade/"
                    target="_blank">aqui</a>!<br> &emsp;&emsp;Bruce Ryan, colaborador da Microsoft, conta que um dia conseguiu concluir o jogo em modo fácil num tempo recorde de 6 segundos, o que o levou a lançar um desafio a toda a empresa.<br> &emsp;&emsp;Bill
                Gates decidiu responder, concluindo em 5 segundos.
            </p>
        </div>

        <div class="container alunos" id="alunos">
            <h1>Sobre nós</h1>
            <hr>
            <p class="pad">Somos alunos de 1.º ano da Licenciatura de Tecnologias de Informação da Faculdade de Ciências da Universidade de Lisboa (FCUL) e desenvolvemos este website sobre o jogo MineSweeper no âmbito da disciplina de Introdução às Tecnologias Web (ITW)</p>
            <hr>
            <p class="pad">As principais tecnologias e linguagens utilizadas para fazer este website foram o HTML5, CSS, JavaScript e jQuery</p>
            <hr>
            <div class="about">
                <div class="aluno">
                    <img src="../imagens/foto_Beatriz.jpg" alt="fotografia de Beatriz Pereira" height="230" />
                    <p class="p_bold">Beatriz Pereira n.º 57579</p>
                    <p>fc57579@alunos.fc.ul.pt</p>
                    <a href="https://www.linkedin.com/in/beatrizrhapereira/" target="_blank"><img class="linkedin" src="../imagens/linkedin.png" alt="logotipo Linkedin" height="40"></a>
                </div>
                <div class="aluno">
                    <img src="../imagens/foto_Carlos.jpeg" alt="fotografia de Carlos Martins" height="230" />
                    <p class="p_bold">Carlos Martins n.º 57574</p>
                    <p>fc57574@alunos.fc.ul.pt</p>
                    <a href="https://www.linkedin.com/in/carlos-martins-777b75236" target="_blank"><img class="linkedin" src="../imagens/linkedin.png" alt="logotipo Linkedin" height="40"></a>

                </div>
                <div class="aluno">
                    <img src="../imagens/foto_Gonçalo.jpeg" alt="fotografia de Gonçalo Domingues" height="230" />
                    <p class="p_bold">Gonçalo Domingues n.º 51751</p>
                    <p>fc51751@alunos.fc.ul.pt</p>
                    <a href="https://www.linkedin.com/in/gon%C3%A7alo-domingues/" target="_blank"><img class="linkedin" src="../imagens/linkedin.png" alt="logotipo Linkedin" height="40"></a>
                </div>
            </div>
            <a href="https://ciencias.ulisboa.pt/" target="_blank"><img id="logo" src="../imagens/fcul-logo-branco.png" alt="logotipo da Faculdade de Ciências da Universidade de Lisboa (FCUL)"></a>
        </div>
        <footer>
            <ul>
                <li><a href="./regras.html">Regras</a></li>
                <li><a id="homepage" href="./index.html">Home</a></li>
                <li><a id="perfilpage">Perfil</a></li>
            </ul>
        </footer>
    </section>
    <nav>
        <div class="login-icon" id="login-icon"></div>
        <ul>
            <li><a id="homepage" href="./index.html">Home</a></li>
            <li><a id="perfilpage">Perfil</a></li>
            <li><a href="./regras.html">Regras</a></li>
            <li><a href="./sobre.html">Sobre</a></li>
        </ul>
        <div class="playButn">
            <a id="playpage">Play</a>
        </div>
    </nav>
    <script src="../scripts/main.js"></script>
</body>

</html>